body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #f00;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 24px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.video-card {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.video-card img {
    width: 100%;
    height: auto;
}

.video-card h2 {
    margin-top: 0;
}

.video-card p {
    margin-bottom: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
